[includeIf "gitdir:~/personal/"]
	path = .gitconfig-personal
[includeIf "gitdir:~/work/"]
	path = .gitconfig-work
[core]
	editor = nvim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true # use n and N to move between diff sections
[rebase]
	instructionFormat = %s [%an]
[push]
	default = current
	autoSetupRemote = true
[merge]
	conflictStyle = zdiff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
