[includeIf "gitdir:~/personal/"]
	path = .gitconfig-personal
[includeIf "gitdir:~/work/"]
	path = .gitconfig-work
[core]
	editor = nvim
[rebase]
	instructionFormat = %s [%an]
[push]
	default = current
	autoSetupRemote = true
[merge]
	conflictStyle = zdiff3
